<div class="mat-elevation-z8">
    <mat-form-field>
        <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Filter">
    </mat-form-field>
    <mat-table mat-table [dataSource]="dataSource" matSort @drop>
        <ng-container matColumnDef="name">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Name </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.name}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="username">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Username </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.username}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="games">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Games </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.games.length}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="winRatio">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Win Ratio </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element"> {{element.winRatio}} </mat-cell>
        </ng-container>

        <ng-container matColumnDef="profile">
            <mat-header-cell mat-header-cell *matHeaderCellDef mat-sort-header> Profile </mat-header-cell>
            <mat-cell mat-cell *matCellDef="let element">
                <a mat-flat-button [routerLink]="['user-profile', element._id]" (click)="getProfile(element)">Profile</a>
            </mat-cell>
        </ng-container>

        <mat-header-row mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>

    <mat-paginator [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
</div>